<div style="text-align: center;">
    <h1>Hospital API Project</h1>
    <br>
</div>

<div style="margin: auto; width: 50%; border: 3px; padding: 10px;">
    <p>Copy the URL of this tab and paste it in postman.</p>
    <p>The following are the routes</p>
    <ul>
        <li> POST method - {URL}/doctor/register - used for registering doctor. </li>
        <li> POST method - {URL}/doctor/login - used for logging in doctor. </li>
        <li> POST method - {URL}/patient/register - used for registering patient. </li>
        <li> POST method - {URL}/patient/:id/create_report - used for creating patient's report. </li>
        <li> GET method - {URL}/patient/:id/reports - used for showing all reports of the patient. </li>

    </ul>
</div>